version: "3"
services:
    broker:
        container_name: streamr_dev_broker
        image: streamr/broker
        restart: on-failure
        depends_on:
            - init_keyspace
        links:
            - cassandra
            - kafka
            - redis
    data-api:
        container_name: streamr_dev_data-api
        image: streamr/data-api
        restart: on-failure
        ports:
            - "8890:8890"
        depends_on:
            - init_keyspace
        links:
            - cassandra
            - kafka
            - redis
            - zookeeper
        environment:
            STREAMR_URL: http://10.200.10.1:8081/streamr-core
    engine-and-editor:
        container_name: streamr_dev_engine-and-editor
        image: streamr/engine-and-editor
        ports:
            - "8081:8081"
        depends_on:
            - init_keyspace
        links:
            - mysql
            - cassandra
            - kafka
            - redis
            - zookeeper
            - broker
            - data-api
        entrypoint: "grails"
        command: "-Dstreamr.database.host=mysql -Dstreamr.kafka.bootstrap.servers=kafka:9092 -Dstreamr.redis.hosts=redis -Dstreamr.cassandra.hosts=cassandra run-app"
    ethereum-watcher:
        container_name: streamr_dev_ethereum_watcher
        image: streamr/ethereum-watcher
        depends_on:
            - engine-and-editor
        links:
            - engine-and-editor
        command: 'index.js --streamrApiURL="http://engine-and-editor:8081/streamr-core/api/v1" --ethereumServerURL="wss://rinkeby.infura.io/ws" --marketplaceAddress="0x1994925b5da03929f8f51cf3891aee199656ec72" --devopsKey="devops-user-key" --verbose=1'