version: "3"
services:
    nginx:
        container_name: streamr_nginx_reverse
        image: nginx:1.14-alpine
        restart: on-failure
        ports:
          - "80:80"
        volumes:
          - ./custom-nginx-reverse-proxy.conf:/etc/nginx/nginx.conf:ro
    broker:
        container_name: streamr_dev_broker
        image: streamr/cloud-broker:dev
        restart: on-failure
        depends_on:
            - init_keyspace
        links:
            - cassandra
            - kafka
            - redis
    data-api:
        container_name: streamr_dev_data-api
        image: streamr/data-api:dev
        restart: on-failure
        ports:
            - "8890:8890"
        depends_on:
            - init_keyspace
        links:
            - cassandra
            - kafka
            - redis
            - zookeeper
        environment:
            STREAMR_URL: http://10.200.10.1:8081/streamr-core
    twitter-bitcoin:
          container_name: streamr_dev_twitter-bitcoin
          image: streamr/twitter-bitcoin
          restart: on-failure
          links:
              - data-api
    engine-and-editor:
        container_name: streamr_dev_engine-and-editor
        image: streamr/engine-and-editor:dev
        ports:
            - "8081:8081"
        depends_on:
            - init_keyspace
        links:
            - mysql
            - cassandra
            - kafka
            - redis
            - zookeeper
            - broker
        healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost:8081/streamr-core/login/auth"]
            interval: 1m30s
            timeout: 10s
            retries: 3
        environment:
            AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
            AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
            CP_URL: "http://10.200.10.1:8085/communities/"
    ethereum-watcher:
        container_name: streamr_dev_ethereum_watcher
        image: streamr/ethereum-watcher
        restart: on-failure
        links:
            - engine-and-editor
        environment:
            STREAMR_API_URL: http://engine-and-editor:8081/streamr-core/api/v1
            METRICS: "false"
        volumes:
            - ./data/ethereum-watcher/:/app/logs
    ganache:
        container_name: streamr_dev_ganache
        image: streamr/streamr-ganache:dev
        ports:
          - "8545:8545"
        restart: on-failure
        environment:
            EE_URL: http://engine-and-editor:8081/streamr-core
            NETWORK_ID: 1111
        links:
            - engine-and-editor
        healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost:8545"]
            interval: 1m30s
            timeout: 10s
            retries: 3
    ethereum-watcher-local: # uses local ganache
        container_name: streamr_dev_ethereum_watcher_local
        image: streamr/ethereum-watcher:dev
        restart: on-failure
        links:
            - engine-and-editor
            - ganache
        environment:
            STREAMR_API_URL: http://engine-and-editor:8081/streamr-core/api/v1
            METRICS: null
            ETHEREUM_SERVER_URL: "http://ganache:8545"
            MARKETPLACE_ADDRESS: "0x0af64558670a3b761B57e465Cb80B62254b39619"
            DEVOPS_KEY: "devops-user-key"
        volumes:
            - ./data/ethereum-watcher-local/:/app/logs
    community-product:
        container_name: streamr_dev_cp
        image: streamr/streamr-community-products:dev
        ports:
          - "8085:8085"
        restart: on-failure
        links:
            - ganache
            - engine-and-editor
        environment:
            ETHEREUM_SERVER: http://10.200.10.1:8545
            ETHEREUM_PRIVATE_KEY: 5e98cce00cff5dea6b454889f359a4ec06b9fa6b88e9d69b86de8e1c81887da0
            STREAMR_WS_URL: ws://10.200.10.1:8890/api/v1/ws
            STREAMR_HTTP_URL: http://10.200.10.1:8081/streamr-core/api/v1
            TOKEN_ADDRESS: "0xbaa81a0179015be47ad439566374f2bae098686f"
            REMOTE_SECRETS: "false"