version: "3"
services:
    nginx:
        container_name: streamr-dev-nginx
        image: nginx:1.14-alpine
        restart: on-failure
        ports:
          - "80:80"
        volumes:
          - ./custom-nginx-reverse-proxy.conf:/etc/nginx/nginx.conf:ro
        healthcheck:
            test: ["CMD", "nc", "-z", "localhost", "80"]
            interval: 10s
            timeout: 10s
            retries: 60
    tracker-1:
        container_name: streamr-dev-tracker-1
        image: streamr/broker-node:dev
        restart: on-failure
        ports:
            - "30301:30301"
            - "11111:11111"
        command: node tracker.js --port=30301 --endpointServerPort=11111
        healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost:11111/topology/"]
            interval: 30s
            timeout: 10s
            retries: 20
    tracker-2:
        container_name: streamr-dev-tracker-2
        image: streamr/broker-node:dev
        restart: on-failure
        ports:
            - "30302:30302"
            - "11112:11112"
        command: node tracker.js --port=30302 --endpointServerPort=11112
        healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost:11112/topology/"]
            interval: 30s
            timeout: 10s
            retries: 20
    tracker-3:
        container_name: streamr-dev-tracker-3
        image: streamr/broker-node:dev
        restart: on-failure
        ports:
            - "30303:30303"
            - "11113:11113"
        command: node tracker.js --port=30303 --endpointServerPort=11113
        healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost:11113/topology/"]
            interval: 30s
            timeout: 10s
            retries: 20
    broker-node-storage-1:
        container_name: streamr-dev-broker-node-storage-1
        image: streamr/broker-node:dev
        restart: on-failure
        ports:
            - "8890:8890"
            - "8891:8891"
            - "9000:9000"
            - "30315:30315"
        depends_on:
            - init-keyspace
            - cassandra
            - tracker-1
            - tracker-2
            - tracker-3
        environment:
            STREAMR_URL: http://10.200.10.1:8081/streamr-core
            CASSANDRA_HOST: 10.200.10.1:9042
            CONFIG_FILE: configs/docker-1.env.json
        healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost:8891/api/v1/volume"]
            interval: 30s
            timeout: 10s
            retries: 20
    broker-node-no-storage-1:
        container_name: streamr-dev-broker-node-no-storage-1
        image: streamr/broker-node:dev
        restart: on-failure
        ports:
            - "8790:8790"
            - "8791:8791"
            - "9100:9100"
            - "30316:30316"
        depends_on:
            - tracker-1
            - tracker-2
            - tracker-3
        environment:
            STREAMR_URL: http://10.200.10.1:8081/streamr-core
            CONFIG_FILE: configs/docker-2.env.json
        healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost:8791/api/v1/volume"]
            interval: 30s
            timeout: 10s
            retries: 20
    broker-node-no-storage-2:
        container_name: streamr-dev-broker-node-no-storage-2
        image: streamr/broker-node:dev
        restart: on-failure
        ports:
            - "8690:8690"
            - "8691:8691"
            - "9200:9200"
            - "30317:30317"
        depends_on:
            - tracker-1
            - tracker-2
            - tracker-3
        environment:
            STREAMR_URL: http://10.200.10.1:8081/streamr-core
            CONFIG_FILE: configs/docker-3.env.json
        healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost:8691/api/v1/volume"]
            interval: 30s
            timeout: 10s
            retries: 20
    engine-and-editor:
        container_name: streamr-dev-engine-and-editor
        image: streamr/engine-and-editor:dev
        ports:
            - "8081:8081"
        depends_on:
            - init-keyspace
            - smtp
            - mysql
            - cassandra
            - redis
            - broker-node-storage-1
            - broker-node-no-storage-1
            - broker-node-no-storage-2
            - parity-node0
        healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost:8081/streamr-core/api/v1/products"]
            interval: 30s
            timeout: 10s
            retries: 20
        environment:
            AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
            AWS_SECRET_KEY: "${AWS_SECRET_ACCESS_KEY}"
            FILEUPLOAD_S3_BUCKET: "${FILEUPLOAD_S3_BUCKET}"
            STREAMR_URL: "http://10.200.10.1"
            CPS_URL: "http://10.200.10.1:8085/communities/"
    ethereum-watcher:
        container_name: streamr-dev-ethereum-watcher
        image: streamr/ethereum-watcher:dev
        restart: on-failure
        depends_on:
            - parity-node0
            - engine-and-editor
            - smart-contracts-init
        environment:
            STREAMR_API_URL: http://10.200.10.1/api/v1
            METRICS: null
            ETHEREUM_SERVER_URL: "http://10.200.10.1:8545"
            MARKETPLACE_ADDRESS: "0xf1371c0f40528406dc4f4caf89924ea9da49e866"
            DEVOPS_KEY: "devops-user-key"
        volumes:
            - ./data/ethereum-watcher/:/app/logs
        healthcheck:
            test: ["CMD", "echo"] # TODO: Health check
            interval: 10s
            timeout: 10s
            retries: 60
    data-union-server:
        container_name: streamr-dev-data-union-server
        image: streamr/data-union-server:dev
        ports:
          - "8085:8085"
        restart: on-failure
        depends_on:
            - smart-contracts-init
        environment:
            ETHEREUM_SERVER: http://10.200.10.1:8545
            ETHEREUM_PRIVATE_KEY: 5e98cce00cff5dea6b454889f359a4ec06b9fa6b88e9d69b86de8e1c81887da0
            STREAMR_WS_URL: ws://10.200.10.1:8890/api/v1/ws
            STREAMR_HTTP_URL: http://10.200.10.1/api/v1
            TOKEN_ADDRESS: "0xbaa81a0179015be47ad439566374f2bae098686f"
            REMOTE_SECRETS: "false"
        healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost:8085/dataunions"]
            interval: 10s
            timeout: 10s
            retries: 60
    platform:
        container_name: streamr-dev-platform
        image: streamr/platform:dev
        ports:
            - "3333:80"
        depends_on:
            - engine-and-editor
            - parity-node0
        healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost"]
            interval: 10s
            timeout: 10s
            retries: 60
        environment:
            DATA_UNIONS: "on"
    parity-node0:
         container_name: streamr-dev-parity-node0
         environment:
            CHAIN_ID: 0x2323
         image: streamr/open-ethereum-poa:dev
         ports:
           - "8545:8540"
           - "8450:8450"
           - "30309:30309"
         restart: on-failure
         healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost:8540"]
            interval: 1m30s
            timeout: 10s
            retries: 3
         command: --chain ./streamr-spec.json --config ./node0.toml
    parity-sidechain-node0:
         container_name: streamr-dev-parity-sidechain-node0
         environment:
            CHAIN_ID: 0x2325
         image: streamr/open-ethereum-poa:dev
         ports:
           - "8546:8540"
           - "8451:8450"
           - "30310:30309"
         restart: on-failure
         healthcheck:
            test: ["CMD", "curl", "-sS", "http://localhost:8540"]
            interval: 1m30s
            timeout: 10s
            retries: 3
         command: --chain ./streamr-spec.json --config ./node0.toml
    smart-contracts-init:
        container_name: streamr-dev-smart-contracts-init
        image: streamr/smart-contracts-init:dev
        depends_on:
           - parity-node0
           - engine-and-editor
        restart: on-failure # exits when successful
        environment:
            EE_URL: http://10.200.10.1
            CHAIN_URL: http://10.200.10.1:8545
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
    hsl-demo:
        restart: on-failure
        container_name: streamr-dev-hsl-demo
        image: streamr/hsl-demo:dev
        environment:
          REMOTE_SECRETS: "false"
        depends_on:
            - engine-and-editor
        healthcheck:
            test: ["CMD", "echo"] # TODO: health check
            interval: 10s
            timeout: 10s
            retries: 60
        command: mqtt-streamr --reconnect-on-data-timeout 10 --stream-id YpTAPDbvSAmj-iCUYz-dxA --streamr-url ws://10.200.10.1/api/v1/ws --streamr-rest-url http://10.200.10.1/api/v1 --mqtt-url wss://mqtt.hsl.fi --topic /hfp/v1/journey/ongoing/tram/# --api-key tester1-api-key
