version: "3"
services:
    cassandra:
        container_name: streamr_dev_cassandra
        image: cassandra
        ports:
            - "7000:7000"
            - "7001:7001"
            - "7199:7199"
            - "9042:9042"
            - "9160:9160"
        volumes:
            - ./data/cassandra:/var/lib/cassandra
    kafka:
        container_name: streamr_dev_kafka
        image: wurstmeister/kafka
        depends_on:
            - zookeeper
        ports:
            - "9092:9092"
        environment:
            KAFKA_ADVERTISED_HOST_NAME: 10.200.10.1
            KAFKA_VERSION: "0.9.0.1"
            SCALA_VERSION: "2.11"
            KAFKA_CREATE_TOPICS: "data-dev:10:1"
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
    init_keyspace:
        container_name: streamr_dev_init_keyspace
        image: cassandra
        command: bash -c "sleep 2 && cqlsh cassandra -f /init_scripts/keyspace.cql && echo keyspace initialized && sleep infinity"
        restart: on-failure
        volumes:
            - ./cassandra_init_scripts:/init_scripts
        links:
            - cassandra
    mysql:
        container_name: streamr_dev_mysql
        image: mysql
        ports:
            - "3306:3306"
        volumes:
            - ./data/mysql:/var/lib/mysql:rw
            - ./mysql_init_scripts:/docker-entrypoint-initdb.d
            - ./custom-mysql-settings.cnf:/etc/mysql/conf.d/custom-mysql-settings.cnf
        restart: on-failure
        environment:
            MYSQL_ROOT_PASSWORD: password
    redis:
        container_name: streamr_dev_redis
        image: redis:alpine
        ports:
            - "6379:6379"
    smtp:
        container_name: streamr_dev_smtp
        image: namshi/smtp
        ports:
            - "25:25"
    zookeeper:
        container_name: streamr_dev_zookeeper
        image: wurstmeister/zookeeper
        ports:
            - "2181:2181"
volumes:
    data:
    mysql_init_scripts:
    cassandra_init_scripts:
