version: "3"
services:
    cassandra:
        container_name: streamr-dev-cassandra
        image: cassandra:3.11.5
        ports:
            - "7000:7000"
            - "7001:7001"
            - "7199:7199"
            - "9042:9042"
            - "9160:9160"
        environment:
            JVM_OPTS: "-Xms256M -Xmx512M"
        volumes:
            - ./data/cassandra:/var/lib/cassandra
        healthcheck:
            test: ["CMD", "cqlsh", "-e", "SHOW HOST"]
            interval: 10s
            timeout: 10s
            retries: 60
    init-keyspace:
        container_name: streamr-dev-init-keyspace
        image: cassandra
        command: bash -c "sleep 30 && cqlsh cassandra -f /init_scripts/keyspace.cql && echo keyspace initialized && sleep infinity"
        restart: on-failure
        volumes:
            - ./cassandra_init_scripts:/init_scripts
        depends_on:
            - cassandra
    mysql:
        container_name: streamr-dev-mysql
        image: mysql:5.7.22
        ports:
            - "3306:3306"
        volumes:
            - ./data/mysql:/var/lib/mysql:rw
            - ./mysql_init_scripts:/docker-entrypoint-initdb.d
            - ./custom-mysql-settings.cnf:/etc/mysql/conf.d/custom-mysql-settings.cnf
        restart: on-failure
        healthcheck:
            test: ["CMD", "mysql", "--password=password", "-e", "SELECT 1"]
            interval: 10s
            timeout: 10s
            retries: 60
        environment:
            MYSQL_ROOT_PASSWORD: password
    redis:
        container_name: streamr-dev-redis
        image: redis:5.0.7-alpine
        ports:
            - "6379:6379"
    smtp:
        container_name: streamr-dev-smtp
        image: namshi/smtp
        ports:
            - "25:25"
volumes:
    data:
    mysql_init_scripts:
    cassandra_init_scripts:
