---
version: "3.8"
services:
    cassandra:
        deploy:
            resources:
                limits:
                    cpus: '2.0'
                    memory: 3G
                reservations:
                    memory: 1.7G
    init-keyspace:
        deploy:
            resources:
                limits:
                    cpus: '1.0'
                    memory: 100M
                reservations:
                    memory: 6M
    mysql:
        deploy:
            resources:
                limits:
                    cpus: '2.0'
                    memory: 500M
                reservations:
                    memory: 250M
    nginx:
        deploy:
            resources:
                limits:
                    cpus: '1.0'
                    memory: 500M
                reservations:
                    memory: 6M
    tracker-1:
        deploy:
            resources:
                limits:
                    cpus: '2.0'
                    memory: 200M
                reservations:
                    memory: 150M
    tracker-2:
        deploy:
            resources:
                limits:
                    cpus: '2.0'
                    memory: 200M
                reservations:
                    memory: 150M
    tracker-3:
        deploy:
            resources:
                limits:
                    cpus: '2.0'
                    memory: 200M
                reservations:
                    memory: 150M
    broker-node-storage-1:
        deploy:
            resources:
                limits:
                    cpus: '2.0'
                    memory: 200M
                reservations:
                    memory: 150M
    broker-node-no-storage-1:
        deploy:
            resources:
                limits:
                    cpus: '2.0'
                    memory: 200M
                reservations:
                    memory: 150M
    broker-node-no-storage-2:
        deploy:
            resources:
                limits:
                    cpus: '2.0'
                    memory: 200M
                reservations:
                    memory: 150M
    platform:
        deploy:
            resources:
                limits:
                    cpus: '0.50'
                    memory: 50M
                reservations:
                    memory: 10M
    network-explorer:
        deploy:
            resources:
                limits:
                    cpus: '1.0'
                    memory: 50M
                reservations:
                    memory: 10M
    parity-node0:
        deploy:
            resources:
                limits:
                    cpus: '1.0'
                    memory: 100M
                reservations:
                    memory: 20M
    parity-sidechain-node0:
        deploy:
            resources:
                limits:
                    cpus: '1.0'
                    memory: 100M
                reservations:
                    memory: 20M
    graph-node:
        deploy:
            resources:
                limits:
                    cpus: '0.5'
                    memory: 200M
                reservations:
                    memory: 20M
    graph-deploy-streamregistry-subgraph:
        deploy:
            resources:
                limits:
                    cpus: '0.5'
                    memory: 200M
                reservations:
                    memory: 20M
    deploy-network-subgraphs:
        deploy:
            resources:
                limits:
                    cpus: '0.5'
                    memory: 400M
                reservations:
                    memory: 40M
    deploy-hub-subgraph:
        deploy:
            resources:
                limits:
                    cpus: '0.5'
                    memory: 200M
                reservations:
                    memory: 20M
    graph-deploy-dataunion-subgraph:
        deploy:
            resources:
                limits:
                    cpus: '0.5'
                    memory: 200M
                reservations:
                    memory: 20M
    ipfs:
        deploy:
            resources:
                limits:
                    cpus: '1.0'
                    memory: 150M
                reservations:
                    memory: 10M
    postgres:
        deploy:
            resources:
                limits:
                    cpus: '1.0'
                    memory: 100M
                reservations:
                    memory: 10M
