name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-16.04
          - ubuntu-18.04
          - ubuntu-20.04
    steps:
      - name: Check out the repo
      - uses: actions/checkout@v2.3.4
      - name: Run smoke tests
        run: make test-smoke
      - name: Run streamr-docker-dev
        run: make test-docker-dev

